body {
    font-family: 'Raleway', sans-serif;
}

input {
    outline:none;
}

textarea {
    outline:none;
}

.container{
    padding-left: calc((100% - 1330px)/2); /*con esto hacemos que todo tenga un ancho de 940px*/
    /*El paddingtomará 100% el ancho de la página, imagina que tu página tiene 1000px el calc serial .100% 1000px

    Después de eso, tomará las unidades 1000pxy restará 940px, sería 60px.

    Y finalmente se dividirá por dos, obteniendo 30px.*/
    padding-right: calc((100% - 1330px)/2);
}

@media screen and (max-width: 1024px){
    .container{
        padding-left: 3%;
        padding-right: 3%;
    }
}

@media screen and (max-width: 768px){
    .container{
        padding-left: 1%;
        padding-right: 1%;
    }
}

:root{
    --color-letras-blancas: #FFFFFF;
    --color-fondo-blanco-gris: #F5F5F5;
    --color-blanco-celeste: #EAF2FD;
    --color-azul-boton: #2A7AE4;
    --color-azul-boton-letra: #2A7AE4;
    --color-sombra-box:  rgba(0, 0, 0, 0.25);
    --color-titulos-ceniza: #464646;
    --color-letra-alerta-error: red;
}