.producto{
    background: #F5F5F5;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.producto__contenido{
    display: flex;
    align-items: center;
}

.producto__foto{
    width: 50%;
    height: 470px;
    object-fit: cover;
}

.producto__contenido__detalles{
    margin-left: 1.5rem;
    width: 50%;
    color: #464646;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.producto__contenido__titulo{
    font-weight: 500;
    font-size: 3rem;
}

.producto__contenido__precio{
    font-weight: 700;
}

.producto__contenido__descripcion{
    font-weight: 400;
    text-align: justify;
    line-height: 1.3rem;
}


.foto__producto{
    width: 215px; 
    height: 210px;
    object-fit: cover;
}

.categorias__produtos{
    box-sizing: border-box;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));/*como shadow box pero con todos los elementos*/
}

.categorias__produto{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.similares{
    background: #F5F5F5;
}

.categorias_producto__nombre{
    font-style: normal;
    font-weight: 500;
}

.categorias_producto__precio{
    font-weight: 700;
}

.categorias_producto__ver{
    font-weight: 700;
    color: #2A7AE4;
    font-style: normal;
    text-decoration: none;
}

.similares__titulo{
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.resultado_busqueda_titulo{
    display: none;
    padding-top: 4rem;
    padding-bottom: 1rem;
    font-size: 2rem;
    color: #464646;
    font-weight: 700;
}