.login{
    display: flex;
    justify-content: center;
    background: #F5F5F5;
}

.login__campos{
    display: flex;
    flex-direction: column;
}

.login__contenido{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 6rem 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.login_input{
    padding: 0.5rem;
    border: none;
    box-sizing: border-box;
    filter: initial;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.25);
}

.login__legend{
    text-align: center;
    font-weight: 700;
}

.login__campo__titulo{
    margin-left: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    color: #464646;
}

.login__boton{
    margin-top: 2rem;
    padding: 1rem;
    background: #2A7AE4;
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    box-sizing: border-box;
}

.input-error{
    border: 1px solid red;
}

.mensaje-error{
    color: red;
}

.mensaje-error{
    margin-top: 0.5rem;
}