.banner{
    display: flex; /*con esto y el justify-content: flex-end; del __contenido hacemos que se baje .banner__contenido */
    background: url(../../Imagenes/banner-image.png) center / cover no-repeat;
    height: 30rem;
}

.banner__contenido{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start; /*arreglamos el boton para que no se agrande a lo ancho*/
    gap: 3rem;
    padding: 2rem 0;
}