.nuevo-producto__boton{
    border: none;
    margin-top: 2rem;
    padding: 1.5rem 2rem;
    background: var(--color-azul-boton);
    color: var(--color-letras-blancas);
    box-sizing: border-box;
}