.nuevo-producto__contenido{
    display: flex;
    flex-direction: column;
    width: 600px;
    max-width: 600px;
    padding: 6rem 0;
}

.nuevo-producto__legend{
    font-size: 2rem;
    color: #464646;
    font-weight: 700;
}