.similares{
    background: #F5F5F5;
    padding-bottom: 5rem;
}

.similares__titulo{
    color: #464646;
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.similares_productos{
    box-sizing: border-box;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));/*como shadow box pero con todos los elementos*/
}