.similares{
    background: var(--color-fondo-blanco-gris);
    padding-bottom: 5rem;
}

.similares__titulo{
    color: var(--color-titulos-ceniza);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.similares__productos{
    box-sizing: border-box;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 4px var(--color-sombra-box));/*como shadow box pero con todos los elementos*/
}

@media screen and (max-width: 1024px){
    .similares__productos{
        flex-wrap: initial;
        overflow: auto;
    }

    .similares__titulo{
        margin-bottom: 0;
    }
}