.producto__id{
    font-weight: 500;
    color: #464646;
    width: 215px; /*para que el span tenga salto de linea, pongo el ancho de la foto*/
}

.agregar__producto__boton{
    font-weight: 400;
    color: #ffffff;
    border: none;
    background: #2A7AE4;
    padding: 1rem 2rem;
}

.todos__los__productors__titulo{
    font-weight: 700;
    color: #464646;
    font-size: 3rem;
}

.todos__los__productos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.categorias__contenedor__foto{
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.categoria__iconos__editar{
    font-size: 1.3rem;
    position: absolute;
    padding: 0.8rem 0.8rem 0 0;
    color: white;
}

.tacho{
    margin-right: 1rem;
}