.footer{
    display: flex;
    justify-content: center;
    background: var(--color-letras-blancas);
}

.footer__contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    padding: 3rem 0;
    color: var(--color-titulos-ceniza);
}