.cabecera__navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.cabecera__imagenes{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cabecera__boton{
    padding: 1rem 4rem;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
    box-sizing: border-box;
    background: none;
    cursor: pointer;
    text-decoration: none;
}

.cabecera__buscador{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    padding: 1rem 2rem;
    border: none;
    background: #F5F5F5;
    border-radius: 30px;
}

.cabecera__buscador__lupa{
    position: relative;
    transform: translateX(325px);
}

.cabecera__buscador__contenedor{
    display: flex;
    align-items: center;
}