.cabecera__buscador{
    box-sizing: border-box;
    position: absolute;
    width: 350px;
    padding: 1rem 2rem;
    border: none;
    background: var(--color-fondo-blanco-gris);
    border-radius: 30px;
}

.cabecera__buscador__lupa{
    position: relative;
    transform: translateX(325px);
}

.cabecera__buscador__contenedor{
    display: flex;
    align-items: center;
}

.cabecera__buscador__lupa{
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .cabecera__buscador{
        width: 190px;
        padding: 1rem 0.5rem;
    }

    .cabecera__buscador__lupa{
        transform: translateX(166px);
    }

    .cabecera__buscador__contenedor{
        width: 190px;
    }
}