.categorias{
    background: #F5F5F5;
    padding-bottom: 5rem;
}

.categorias__produtos{
    box-sizing: border-box;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /*como shadow box pero con todos los elementos*/
}

.categorias__produto{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.foto__producto{
    width: 215px;
    height: 210px;
    object-fit: cover;
}

.categorias__titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorias__titulo__nombre{
    font-size: 2rem;
    color: #464646;
    font-weight: 700;
}

.categorias__ver_todo{
    font-style: normal;
    font-weight: 700;
    color: #2A7AE4;
    text-decoration: none;
}

.categorias_producto__nombre{
    font-style: normal;
    font-weight: 500;
}

.categorias_producto__precio{
    font-weight: 700;
}

.categorias_producto__ver{
    font-weight: 700;
    color: #2A7AE4;
    font-style: normal;
    text-decoration: none;
}

.categoria-grupo{
    padding-top: 5rem;
}


.resultado_busqueda_titulo{
    display: none;
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #464646;
    font-weight: 700;
}