.categorias{
    background: #F5F5F5;
    padding-bottom: 5rem;
}

.categoria-grupo{
    padding-top: 5rem;
}

.categorias__produtos{
    box-sizing: border-box;
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); /*como shadow box pero con todos los elementos*/
}

@media screen and (max-width: 1024px){
    .categorias__produtos{
        overflow: auto;
        flex-wrap: initial;
    }
}