.categorias__titulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorias__titulo__nombre{
    font-size: 2rem;
    color: var(--color-titulos-ceniza);
    font-weight: 700;
}

.categorias__ver__todo{
    font-style: normal;
    font-weight: 700;
    color: var(--color-azul-boton-letra);
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .categorias__titulo__nombre{
        margin: 0;
    }
}