.input-error{
    border: 1px solid var(--color-letra-alerta-error);
}

.mensaje-error{
    color: var(--color-letra-alerta-error);
}

.mensaje-error{
    margin-top: 0.5rem;
}

.mensaje-error-boton{
    margin-top: 1rem;
    color: var(--color-letra-alerta-error);
}