.contacto__area{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.contacto__legend{
    font-weight: 700;
}

.contacto__boton{
    margin-top: 1rem;
    padding: 1rem;
    background: var(--color-azul-boton);
    color: var(--color-letras-blancas);
    border: none;
    align-self: flex-start; /*ponemos el boton a la izquierda*/ /*en la clase usamos align-items: initial;*/
}

@media screen and (max-width: 768px){
    .contacto__area{
        width: 100%;
    }
}