.contacto{
    background: var(--color-blanco-celeste);
}

.contacto__seccion{
    display: flex;
    justify-content: space-between;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media screen and (max-width: 768px){
    .contacto__seccion{
        flex-direction: column;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: center;
        gap: 2rem;
    }
}